@media(max-width:320px){
   
    body{
        margin: 10px;
    }

    .row-header{
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .barranav{
        display: none;
    }

    .rlogo{
      width: 160px;
      height: 45px;       
    }

    .carrito{
        text-align: right;
    }

    .seccion1{
       height: 400px;
       background-size: 700%;
       background-repeat: no-repeat;
    }

    .titulo{
        width: 300px;
        margin-top: 150px;
    }
   
    h1{
        font-size: 1.7em;
        font-family: 'Playfair Display', serif;    
    }

    .seccion2{
        display: grid;
        grid-template-columns: 100px;
        grid-template-rows: 50% auto;
        row-gap: 30px;
        margin-left: 0px;

    }

    .banner1{
        width: 300px;
        margin: auto;
    }

    .banner2{
        width: 300px;
        margin: auto;
    }
    
    .seccion3{
        margin-top: 50px;
    }

    .msub3{
        width: 300px;

    }

    .sub3{
        display: grid;
        margin-left: 0px;
    }

    .imgpro1{
        width: 300px;
        
    }

    .imgpro2{
        display: none;
    }

    .seccion4, h3{
        width: 300px;
        font-size: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .seccion5 p{
        font-size: 13px;
    }

    .sub5{
        display: grid;
        grid-template-columns: 250px;
        grid-template-rows: 50% auto;
        margin-left: 15px;
    }

    .imagsub5{
        display: none;
    }
    
    .seccion6 h2{
        font-size: 25px;
    }
    
    .seccion7{
       padding-top: 10px;
    }

    .msub7{
        font-size: 23px;
    }
    
    .sub7{
        display: grid;
        grid-template-columns: 320px;
        grid-template-rows: auto auto auto;
        margin-left: 10px;
    }

    .sub7img{
        width: 280px;
    }

    .seccion8{
        padding-top: 35px;
        padding-bottom: 35px;        
    }

    .sub8{
        width: auto;
        padding-left: 13px;
    }

    .sub8m{
        display: none;
    }
    
    .seccion9{
        width: 100%;
        
    }

    .sub9{
        display: grid;
        grid-template-columns: 250px;
        grid-template-rows: auto auto auto auto;
        margin-left: 10px;
    }
    
    
    footer{
       
    }

    .subf{
        display: grid;
        grid-template-columns: 300px;
        grid-template-rows: auto auto;
        margin: auto;
        margin-left: 0px;
    }

    .subf2{
        width: 280px;
    }
}