body{
    margin: 40px;
}

.row-header{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.seccion3, .seccion7{
    background-image: url("../Imag/bg-1.jpg");
}

.seccion6{
    background-image: url("../Imag/bg-2.jpg");
    text-align: center;
   
}

