body{
    margin: 40px;
}

/*Header*/
.row-header{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.barra{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.logo{
    margin: auto;
}

/*Sección 1*/
.seccion1{
    margin-top: 2%;
    display: grid;
    grid-template-rows: 720px;   
    background-image: url("../Imag/slider-2.jpg");
}

h1{
    font-size: 60px;    
}

.titulo{
    width: 30%;
    margin:auto;
    text-align: center;
}

/*Sección 2*/
.seccion2{
    width: 65%;
    display: grid;
    grid-template-columns: 50% auto;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    
}

/*Sección 3*/
.seccion3{
    display: grid;
    grid-template-rows: auto auto;
    padding-top: 4%;
    padding-bottom: 4%;
}

.msub3{
    margin:auto;
    text-align: center;
    margin-bottom: 2%;
}

.sub3, .sub5{
    display: grid;
    width: 65%;
    grid-template-columns: repeat(4, 1fr);
    margin: auto;
}

.seccion3, .seccion7{
    background-image: url("../Imag/bg-1.jpg");
}

/*Cuarta Sección*/
.seccion4{
    width: 50%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}

/*Quinta Sección*/
.seccion5{
    background-color:#f3f3f3;
    padding-bottom: 3%;
}

.msub5{
    text-align: center;
}

.sub5{
    display: grid;
    
}

/*Sexta Sección*/
.seccion6{
    background-image: url("../Imag/bg-2.jpg");
    text-align: center;
    padding: 5%;
    font-size: 2em;   
}

/*Septima Sección*/